/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  ::placeholder {
    font-size: 1em;
  }
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  ::placeholder {
    font-size: 1.3em;
  }
}

@media (min-width: 992px) {
  /* .header {
    padding: 1em 6em;
  } */
}
