@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,500|Raleway:500i&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
  overflow-x: hidden;
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #51585f;
}

/* HEADER */
.header {
  padding: 1em 2em 1em 0;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #0c1a7a;
}
.navbar {
  padding: 0.5rem 0;
}
.navbar-brand {
  color: #f8f9fa;
}

.header ul li {
  margin: 0px;
  float: left;
}
.nav-link {
  color: #f8f9fa;
  font-size: 15px;
  letter-spacing: 0.5px;
  margin: 0 14px;
  font-weight: 400;
}
nav ul li a:hover {
  color: #a9b4ff !important;
}
.navbar .menu {
  border: 1px solid #fff;
  padding: 10px 16px;
  font-size: 14px;
  text-decoration: none;
  float: right;
  color: #fff;
  font-weight: 500;
  outline: none;
  width: fit-content;
  height: auto;
  cursor: pointer;
}
.navbar button:active,
.navbar button:focus,
.navbar span:active:focus {
  color: #fff;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
/* HERO SECTION */
.hero-section {
  background-color: #fff;
  margin-bottom: 0;
  padding: 4vw 0;
  margin-top: 6em;
  z-index: 0;
}
.hero-text {
  padding: 4vw 0;
  padding-right: 15px;
  padding-left: 15px;
}
.hero img {
  width: 100%;
}
.hero h3 {
  font-weight: 600;
  color: #0c1a7a;
}
.hero .sub-lead {
  font-size: 16px;
  color: #0c1a7a;
  max-width: 800px;
  margin: 20px 0;
}
.hero button {
  padding: 17px 50px;
  border: none;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #0c1a7a;
}

/* SECTION ONE */
.section1 {
  background: #f8f9fa;
}
.section1 .-card {
  background: #fff;
  padding: 4em 4em;
  -webkit-box-shadow: 5px 7px 23px 0px rgba(58, 52, 82, 0.16);
  -moz-box-shadow: 5px 7px 23px 0px rgba(58, 52, 82, 0.16);
  box-shadow: 5px 7px 23px 0px rgba(58, 52, 82, 0.16);
  transition: all 0.3s ease;
}
.section1 .-card p {
  color: #666;
  margin: 0;
  padding: 0;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.9;
}
.section1 .img1,
.img2,
.img3 {
  width: 110px;
}
/* SECTION TWO */
.section2 {
  background: white;
}
.section2 h6 {
  color: #ff6584;
  letter-spacing: 2px;
  margin-bottom: 8px;
  font-size: 15px;
}
.section2 h3 {
  font-size: 34px;
  line-height: 1.4;
  font-weight: 600;
  color: black;
}
.section2 p {
  color: #ff6584;
  margin-top: 1.5rem !important;
}
.section2 ul {
  padding-inline-start: 0;
}
.section2 ul li {
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  font-size: 16px;
  list-style: inside;
}
.big-btn {
  width: 13rem;
}
.big-btn .btn {
  width: 100%;
  padding: 14px 26px;
  border: none;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #0c1a7a;
}
.image4 img {
  width: 100%;
}

/* SECTION THREE */
.section3 {
  background: #f8f9fa;
}
.fa {
  font-size: 34px;
  color: #fff;
  line-height: 75px;
}
.section3 h3 {
  color: #0c1a7a;
  font-size: 40px;
}
.section3 .first-child {
  max-width: 800px;
  margin: 0 auto;
  font-size: 16px;
  color: #0c1a7a;
}
.section3 h5 {
  font-size: 22px;
  color: #000;
}
.section3 .-card {
  /* padding: 2.5em 2em; */
  border: none;
  background: #fff;
  -webkit-box-shadow: 0px 11px 42px 1px rgba(58, 52, 82, 0.1);
  -moz-box-shadow: 0px 11px 42px 1px rgba(58, 52, 82, 0.1);
  box-shadow: 0px 11px 42px 1px rgba(58, 52, 82, 0.1);
}
.sm-card {
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  height: 250px;
  background-color: #fff;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease;
}
.icons {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  max-width: 80px;
  background: linear-gradient(
    90deg,
    #434c86 0%,
    #0c1a7a 40%,
    rgba(102, 102, 102, 0.28) 60%
  );
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
}
.sm-card .text {
  width: 80%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  color: #0c1a7a;
  font-weight: 200;
  letter-spacing: 2px;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
}
.sm-card:hover {
  height: 370px;
}
.sm-card:hover .info {
  height: 90%;
}
.sm-card:hover .text {
  transition: all 0.3s ease;
  opacity: 1;
  max-height: 100px;
  overflow: hidden;
}
.sm-card:hover .icons {
  transition: all 0.3s ease;
}
.sm-card:hover .icons i {
  background: linear-gradient(90deg, #434c86, #0c1a7a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  transition: all 0.3s ease;
}
/* SECTION FOUR */
.section4 {
  background: white;
  font-size: 19px;
  color: #333;
}
.section4 h3 {
  color: #111;
  font-size: 32px;
}
.section4 .bold-p {
  font-size: 19px;
  color: #333;
}
.section4 .light-p {
  color: #ff6584;
}
.section4 .inside-row h4 {
  font-size: 30px;
  font-weight: 600;
}
.section4 .inside-row p {
  color: #ff6584;
  margin-top: 10px;
}

/* SECTION FIVE */
.section5 {
  background: #f8f9fa;
}
.newsletter {
  max-width: 800px;
}
.newsletter .icon4 {
  background: #0c1a7a;
  width: 75px;
  padding: 1.1em;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto 1em;
}
.newsletter h2 {
  color: #0c1a7a;
  font-size: 40px;
  font-weight: 700;
}
.newsletter p {
  color: #0c1a7a;
  max-width: 800px;
  margin: 0 auto;
  font-size: 16px;
}
.subscribe-field input[type="email"] {
  font-size: 16px;
  background: #fff;
  border: none;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  letter-spacing: 1px;
  color: #000;
  -webkit-box-shadow: 0px 11px 42px 1px rgba(58, 52, 82, 0.1);
  -moz-box-shadow: 0px 11px 42px 1px rgba(58, 52, 82, 0.1);
  box-shadow: 0px 11px 42px 1px rgba(58, 52, 82, 0.1);
  font-size: 15px;
  padding: 27px 20px;
}
.subscribe-btn {
  background: #0c1a7a;
  letter-spacing: 1px;
  color: #fff;
  line-height: 0;
  padding: 27px 20px;
  font-size: 16px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 2s0px;
  border: none;
  -webkit-box-shadow: 0px 11px 42px 1px rgba(58, 52, 82, 0.1);
  -moz-box-shadow: 0px 11px 42px 1px rgba(58, 52, 82, 0.1);
  box-shadow: 0px 11px 42px 1px rgba(58, 52, 82, 0.1);
}
.section5 .footer-links {
  margin-top: 10em;
  text-align: center;
}
.section5 .footer-links ul {
  display: flex;
  justify-content: space-evenly;
}
.section5 .footer-links ul li {
  display: inline-block;
  color: #666;
  font-size: 13px;
}
.section5 .footer-links ul li a {
  text-decoration: none;
  color: #0c1a7a;
}

/* ABOUT US PAGE */
#about-us,
#faq,
#contact {
  background: #fff;
}
.breadcrumb {
  background-color: transparent;
  padding: 0;
  justify-content: center;
  margin-bottom: 0;
}
li.breadcrumb-item a,
li.breadcrumb-item {
  color: #fff;
  letter-spacing: 1px;
  font-size: 14px;
}
.breadcrumb-item.active {
  color: #a9b4ff;
}
li.breadcrumb-item a:hover {
  text-decoration: none;
}
.display-section {
  background-color: #0c1a7a;
  margin-top: 4vw;
}
.navbar .active .nav-link {
  color: #a9b4ff !important;
}
.content h6 {
  color: 0c1a7a;
  letter-spacing: 2px;
  margin-bottom: 8px;
  font-size: 15px;
}
.content h3 {
  font-size: 34px;
  line-height: 1.4;
  font-weight: 600;
  color: #0c1a7a;
}
.content p {
  color: #0c1a7a;
}
.read-more {
  padding: 14px 26px;
  border: none;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #0c1a7a;
}
.read-more:hover {
  color: #0c1a7a;
  background: #fff;
  border: 2px solid #0c1a7a;
}

/* FAQ PAGE */
.container .panel-default {
  margin-bottom: 1.5em;
  border: 1px solid white;
  padding: 0 10px;
}
.container .panel-collapse {
  max-height: 1000px;
  -webkit-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
  padding: 2em;
}
.panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  background-color: #f3f3f3;
}
.panel h4 {
  font-size: 18px;
  color: #666;
}
.panel-body h6 {
  color: #0c1a7a;
  font-size: 18px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.panel-title > a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  background-color: #f3f3f3;
  color: #111;
  padding: 20px;
  letter-spacing: 1px;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
  font-weight: 400;
}
.panel-body p {
  color: #111;
  margin: 0;
  padding: 0;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.9;
}
.more-less {
  float: right;
  color: #111;
}

/* CONTACT PAGE */
.contact .contact-title h2 {
  color: #0c1a7a;
  font-size: 40px;
}
.contact-form .form-control {
  background: #f8f9fa;
  padding: 12px 10px;
  border: 1px solid #dedede;
  border-left: 5px solid #0c1a7a;
  letter-spacing: 1px;
  font-size: 15px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  color: #0c1a7a;
}
.contact-form textarea {
  height: 180px;
  resize: none;
}
button.contact-btn {
  background: #0c1a7a;
  color: #ffffff;
  padding: 11px 25px;
  letter-spacing: 1px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  font-size: 16px;
  max-width: 140px;
}
button.contact-btn:hover {
  color: #0c1a7a;
  background: #fff;
  border: 2px solid #0c1a7a;
}
